body {
    background-color:gray;
}

#resetBtn {
    visibility: hidden;
}

#progressEl {
    font-size: 20px;
    font-weight: bold;
    color: rgb(133, 23, 96);
}

#timerEl {
    color:rgb(133, 23, 96);
    font-size: 18px;
    font-weight: bold;
}

#submitAnswerBtn {
    visibility: hidden;
}

#testEl {
    border:#f8f4f8 3px solid;
    padding:10px 40px 40px 40px;
    background-color:#f0dfeb;
    width:50%;
}

#rightOrWrong {
    font-size: 18px;
    font-weight: bold;
    color:darkslategrey;
}

#scoreboard {
    visibility: hidden;
}

#scoreDisplay {
    color: rgb(133, 23, 96);
}

form h3 {
    color:darkslategrey;
    background-color: white;
}

.scoreElement {
    color: rgb(133, 23, 96);
    font-size: 18px;
    font-weight: bold;
    background-color:white;
}