div#testEl{
    border:#5AB029 3px solid;
    padding:10px 40px 40px 40px;
    background-color:#E5FCE3;
    width:50%;
}

#timerEl {
    color:red;
}

#submitAnswerBtn {
    visibility: hidden;
    background-color: #5AB029;
}

#startQuizBtn {
    visibility: visible;
    background-color: #5AB029;
}

#resetBtn {
    visibility: hidden;
    background-color: #5AB029;

}

button {
 margin:8px
}